*{
    /* padding: o;
    margin: 0; */
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo img{
    /* height: 50px;
    width: 50px; */
    text-align: center;
    width: 86.041px;
    height: 40px;
    object-fit: cover;
    
}
.logo-name{
    font-size: 45px;
}
.logo-name span{
    color:pink;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
.nav-item-ul ul{
    display: flex;
    gap: 24px;
}
.nav-item-ul ul li{
    list-style: none;
    
}
.nav-item-ul ul li a{
    text-decoration: none;
    color:rgba(60, 53, 79, 1);
    font-weight: bold;
}
.nav-item-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);;
}
.nav-item-icon li{
    list-style: none;
    font-weight: bold;
   
}
.nav-icon{
    font-size: 30px;
}